*   { margin: 0px; padding: 0px; }
body { background-color: #f1f1f1; }
            
ul  { list-style-type: none; }            
h1 { text-align: center; background-color: dodgerblue; color: white; padding: 10px; }
h3 {  background-color: white; right: 0; margin-right: 10px; margin-bottom: 10px; text-align: center; }
h4 { text-align: center; background-color: dodgerblue; color: white; padding: 10px; }
b  { font-weight:bolder; color: dodgerblue; font-size: 30px }
        
.flex_container { justify-content: center; display: flex; align-items: stretch; background-color: #f1f1f1; }
.flex_box_100 { justify-content: center; width: 100%; display: flex;}
.flex_box_50 { width: 50%; }
.flex_box_25 { width: 25%; }

.box {
    text-align: center;
    background-color: dodgerblue;
    color: white;
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 35px;
}

.columnTitel { padding-left: 25px; margin-top: 10px; }

            /*.flex_container > div { background-color: white; color: black; width: 100px; margin: 10px; text-align: left; line-height: 20px;
                                    font-size: 18px; flex-grow: 5; overflow-y: scroll; height:300px; }*/

.bottomMenu { color: black; width: 100%; margin: 10px; text-align: left; line-height: 20px;font-size: 18px; flex-grow: 5; height:auto; width: initial; }

.scrollViewLeft { 
    background-color: white;
    color: black;
    width: 94%;
    margin: 10px;
    line-height: 20px;
    font-size: 18px;
    flex-grow: 5;
    overflow-y: scroll;
    height:300px;
}

.scrollViewRight {
    background-color: white;
    color: black;
    width: 94%;
    margin: 0px 10px 10px 10px;
    line-height: 20px;
    font-size: 18px;
    flex-grow: 5;
    overflow-y: scroll;
    height:260px;
}

.searchboxInList { background-color: #969696; padding: 0px 0px 0px 0px; color: white; display: block; height: 40px; width: 94%; margin: 10px 10px 0px 10px; }
            
            .searchboxInList button {
                background-color: #ff8000; /* Green background */
                color: white; /* White text */
                cursor: pointer; /* Pointer/hand icon */
                float: right; /* Float the buttons side by side */
                width: 33%;
                border: 3px solid #d3d3d3;
                line-height: 20px;
                font-size: 18px;
                height: 40px;
            }

            .scrollViewLeft ul li {
                border: 2px solid lightgray;
                background-color: #969696;
                padding: 8px 20px 8px 20px;
                color: white;
                display: block;
            }
            
            .scrollViewLeft ul li:hover {
                cursor: pointer;
                background-color: white;
                color: black;
                transition: 0.5s;
                padding-left: 5%;
            }
            
            .scrollViewLeft ul li::focus {
                border: 2px solid black;
                cursor: pointer;
                background-color: #ff8000;
                color: black;
                transition: 0.5s;
                padding-left: 30px;
                padding-right: 10px;
            }

            .scrollViewRight ul li {
                border: 2px solid lightgray;
                background-color: #969696;
                padding: 8px 20px 8px 20px;
                color: white;
                display: block;
            }
            
            .scrollViewRight ul li:hover {
                cursor: pointer;
                background-color: white;
                color: black;
                transition: 0.5s;
                padding-left: 5%;
            }
            
            .scrollViewRight ul li::focus {
                border: 2px solid black;
                cursor: pointer;
                background-color: #ff8000;
                color: black;
                transition: 0.5s;
                padding-left: 30px;
                padding-right: 10px;
            }

.btnGroup button {
    background-color: #ff8000; /* Green background */
    color: white; /* White text */
    cursor: pointer; /* Pointer/hand icon */
    float: right; /* Float the buttons side by side */
    margin: auto;
    width: 50%;
    border: 3px solid #d3d3d3;
    padding: 10px;
    line-height: 20px;
    font-size: 18px;
}

.btnGroup button:hover {
    background-color: #ffa041; /* Green background */
    color: white; /* White text */
    cursor: pointer; /* Pointer/hand icon */
    float: right; /* Float the buttons side by side */
    margin: auto;
    width: 50%;
    border: 3px solid #d3d3d3;
    padding: 10px;
    line-height: 20px;
    font-size: 18px;
}



.btnGroupForm button {
    background-color: #a9a9a9; /* Green background */
    color: white; /* White text */
    cursor: pointer; /* Pointer/hand icon */
    float: right; /* Float the buttons side by side */
    margin: -10px 0px 15px 0px;
    width: 33.3%;
    height: 35px;
    border: 3px solid #d3d3d3;
    padding: 0px;
    line-height: 17px;
    font-size: 14px;
}

.inputField {
    height: 46px;width: 50%;margin:0px 0px 10px 0px;border: 3px solid lightslategrey;font-size: 25px;box-sizing: border-box;padding-left: 5px;
}

.inputField1 {
    height: 40px;width: 67%;border: 3px solid #d3d3d3;;font-size: 25px;box-sizing: border-box;padding-left: 5px;
}

.addInputField {
    height: 46px;
    width: 95.5%;
    border: 3px solid lightslategrey;
    box-sizing: border-box;
    font-size: 25px;
}

.addInputTitel {
    height: 46px;
    width: 100%;
    margin: 0px 0px 10px 0px;
    border: 3px solid lightslategrey;
    font-size: 25px;
    box-sizing: border-box;
    padding: 5px;
    text-align: center;
}


/* Clear floats (clearfix hack) */
.btn-group:after {
    content: "";
    clear: both;
    display: table;
}

.btn-group button:not(:last-child) {
    /*border-right: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
    background-color: #ff9933;
}

.loader {
    border: 16px solid #fff;
    border-radius: 50%;
    border-top: 16px solid dodgerblue;
    width: 60px;
    height: 60px;
    -webkit-animation: spin 1s linear infinite; /* Safari */
    animation: spin 1s linear infinite;
    background-color: #f3f3f3;
    margin: 0px auto;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#loading{
    display: none;
}

/* Style the buttons inside the tab */
.tab button {
    color: white;
    background-color: #ff8000;
    border: 3px solid #d3d3d3;
    outline: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ff9933;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
    color: dodgerblue;
    border: 3px solid dodgerblue;
}

.tab button.active:hover {
    background-color: #b9b9b9;
    color: dodgerblue;
    border: 3px solid dodgerblue;
}

.listButtons:hover {
    background-color: #b9b9b9;
    color: dodgerblue;
    border: 3px solid dodgerblue;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
}